.fav {
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    
    &:hover {
      background-position: right;
    }
  }
  
  .fav-star {
    background-image: url("https://cssanimation.rocks/images/posts/steps/twitter_fave.png");
    height: 45px;
    width: 64px;
    
    &.is-animating {
      animation: zoetrope .8s steps(55) 1;
    }
  }
  
  .fav-heart {
    background-image: url("https://cssanimation.rocks/images/posts/steps/heart.png");
    background-size: auto 50px;
    height: 50px;
    width: 50px;
    
    &.is-animating {
      animation: zoetrope .8s steps(28) 1;
    }
    
    &.filled {
      background-image: url("https://cssanimation.rocks/images/posts/steps/heart-filled.png");
    }
  }
  
  @keyframes zoetrope {
    from { background-position: left;  }
    to   { background-position: right; }
  }