.bg-blue {
    background: #3D45FB;
}

.text-white {
    color: #FFFCEC;
}

.p-20 {
    padding: 17rem;
}

select option {
    font-size: 17px; /* Tamanho da fonte das opções */
    line-height: 1.2; /* Altura da linha das opções */
}