.bg-blue {
    background: linear-gradient(to right, rgb(29, 78, 216), rgb(30, 64, 175), rgb(17, 24, 39));
}

.text-white {
    color: #FFFCEC;
}

.p-20 {
    padding: 17rem;
}

select option {
    font-size: 17px; /* Tamanho da fonte das opções */
    line-height: 1.2; /* Altura da linha das opções */
}