<!DOCTYPE html>
<html lang="en">
   <head>
      <style>
         tr:hover {
         background-color: inherit !important; 
         }
      </style>
      {% load static %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
         rel="shortcut icon"
         href="https://cdn.jsdelivr.net/npm/twemoji@11.3.0/2/svg/1f30e.svg"
         type="image/x-icon" />
      <link rel="stylesheet" href="{% static 'style.css' %}" />
      <script defer src="{% static 'favourite.js' %}"></script>
      <script defer src="{% static 'comment.js' %}"></script>
      <link rel="stylesheet" href="{% static 'comments.css' %}" />
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
         crossorigin="anonymous" />
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
      <title>TripHelper</title>
   </head>
   <body data-bs-theme="dark">
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
         <div class="container-fluid">
            <img
               src="https://cdn.jsdelivr.net/npm/twemoji@11.3.0/2/svg/1f30e.svg"
               alt="Bootstrap"
               width="30"
               height="24" />
            <a class="navbar-brand fw-bold" href="/">TripHelper</a>
            <button
               class="navbar-toggler"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent"
               aria-expanded="false"
               aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link" aria-current="page" href="/"
                        >Homepage</a
                        >
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" aria-current="page" href="/top"
                        >Most searched places</a
                        >
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" aria-current="page" href="/"
                        >Random Destination</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a
                        class="nav-link dropdown-toggle"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                     More information
                     </a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/about">About us</a></li>
                        <li>
                           <hr class="dropdown-divider" />
                        </li>
                        <li>
                           <a
                              class="dropdown-item"
                              target="_blank"
                              href="https://github.com/claudioavgo/triphelper"
                              >GitHub</a
                              >
                        </li>
                     </ul>
                  </li>
               </ul>


               <div style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
                  <button type="button" class="btn btn-primary" onclick="changeFontSize(1)">A+</button>
                  <button type="button" class="btn btn-primary" onclick="changeFontSize(-1)">A-</button>
               </div>

               <div class="form-check form-switch" style="display: flex;justify-items: center;align-items:center">
                  <input onclick="themeSwitch()" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16" style="margin-left: 0.5rem">
                     <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278"/>
                     <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high-fill" viewBox="0 0 16 16" style="margin-left: 0.5rem">
                     <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                  </svg>
               </div>
               <div style="display: flex; justify-content: center; align-items: center;">
                  {% if user is not none %}
                  <div class="btn-group" style="margin-right: 1rem; margin-left: 1rem;">
                     <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                     <img src="https://source.boringavatars.com/beam/25/{{ user.usuario.username }}" style="margin-right: .3rem;" alt="" srcset="">
                     </button>
                     <ul class="dropdown-menu dropdown-menu-end ">
                        <a href="/account">
                           <li><button class="dropdown-item" type="button">My Places</button></li>
                        </a>
                        <a href="/logout">
                           <li><button class="dropdown-item" type="button">Exit</button></li>
                        </a>
                     </ul>
                  </div>
                  {% else %}
                  <div class="btn-group" style="margin-right: 1rem; margin-left: 1rem;">
                     <a href="login">
                     <button type="button" class="btn btn-secondary">Sign in</button>
                     </a>
                  </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </nav>

      <div style="display: flex; justify-content: center; align-items: center; margin-top: 5rem;">
         <h1 style="margin-right: 1rem;">{{ city }}, <span id="country">{{ country }}</span></h1>
         {% if user %}
         <button id="like" class="button-none">
            <svg width="32" height="32" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
               <g id="likeFav" fill="{% if city in user.getFavPlaces %}red{% else %}gray{% endif %}">
                   <path d="M232 94c0 66-104 122-104 122S24 160 24 94a54 54 0 0 1 54-54c22.59 0 41.94 12.31 50 32c8.06-19.69 27.41-32 50-32a54 54 0 0 1 54 54Z" opacity=".7"/>
                   <path d="M178 32c-20.65 0-38.73 8.88-50 23.89C116.73 40.88 98.65 32 78 32a62.07 62.07 0 0 0-62 62c0 70 103.79 126.66 108.21 129a8 8 0 0 0 7.58 0C136.21 220.66 240 164 240 94a62.07 62.07 0 0 0-62-62Zm-50 174.8C109.74 196.16 32 147.69 32 94a46.06 46.06 0 0 1 46-46c19.45 0 35.78 10.36 42.6 27a8 8 0 0 0 14.8 0c6.82-16.67 23.15-27 42.6-27a46.06 46.06 0 0 1 46 46c0 53.61-77.76 102.15-96 112.8Z"/>
               </g>
            </svg>
         </button>
         {% endif %}
      </div>
      
      <div style="padding-left: 10rem; padding-right: 10rem;">
         <table class="table" style="border-collapse: collapse; overflow: hidden;">
            <tbody>
               <tr class="hover-row" style="border-bottom: 2px solid #e5e5e5;">
                  <th scope="row" style="background-color: transparent; font-weight: bold; color: #ffffff;">Language</th>
                  {% for key in info.0.languages %}
                  <td style="flex: 1; text-align: center; padding: 15px 20px;">{{ key|default:" " }}</td>
                  {% endfor %}
               </tr>
               <tr class="hover-row" style="border-bottom: 2px solid #e5e5e5;">
                  <th scope="row" style="background-color: transparent; font-weight: bold; color: #ffffff;">Capital</th>
                  {% for key in info.0.capital %}
                  <td style="flex: 1; text-align: center; padding: 15px 20px;">{{ key|default:" " }}</td>
                  {% endfor %}
               </tr>
               <tr class="hover-row" style="border-bottom: 2px solid #e5e5e5;">
                  <th scope="row" style="background-color: transparent; font-weight: bold; color: #ffffff;">Currency</th>
                  {% for key in info.0.currencies %}
                  <td style="flex: 1; text-align: center; padding: 15px 20px;">{{ key|default:" " }}</td>
                  {% endfor %}
               </tr>
               <tr class="hover-row" style="border-bottom: 2px solid #e5e5e5;">
                  <th scope="row" style="background-color: transparent; font-weight: bold; color: #ffffff;">Plug</th>
                  {% for i in plug %}
                  <td style="flex: 1; text-align: center; padding: 15px 20px;">{{ i|default:" " }}</td>
                  {% endfor %}
               </tr>
            </tbody>
         </table>
      </div>
      <div style="display: flex; justify-content: start; padding-left: 10rem; padding-right: 10rem;margin-top: 1rem;">
         <h1>Some attractions</h1>
      </div>
      <div class="card-container">
      {% if not content %}
        <h1>No attractions :/</h1>
      {% endif %}
      {% for i in content.places %}
      <a href="https://www.getyourguide.com{{ i.url }}">
        <div class="card" style="height: fit-content;width: 20rem;">
          <img src="{{ i.photos.0.urls.2.url}}" class="card-img-top" style="height: 12rem;" alt="{{ i.title }}">
          <div class="card-body">
              <h5 class="card-title">{{ i.title }}</h5>
              <p class="card-text">Activity Type: {{ i.activityType.key }}</p>
              <p class="card-text">Activity Spend Time: {{ i.attributes.0.label }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
      
      <div class="container bootdey">
      <div class="col-md-12 bootstrap snippets">
      <div class="panel">
         <div class="panel-body">
            {% if user %}
            <textarea class="form-control" rows="2" id="user-input" placeholder="What are you thinking?"></textarea>
            <div class="mar-top clearfix">
               <button class="btn btn-sm btn-primary pull-right" type="submit" id="comment-button" onclick="addComment()" style="margin-top: 15px ;"><i class="fa fa-pencil fa-fw"></i> Share</button>
            </div>
            {% endif %}
         </div>
      </div>
      <div class="panel">
      <div class="panel-body">
      <!-- Newsfeed Content -->
      <!--===================================================-->
      <div class="media-block">
      <!-- Comments -->
      <div id="comments-container">
         {% for i in comments %}
         <div class="media-block">
            <a class="media-left"><img class="img-circle img-sm" alt="Profile Picture" src="https://source.boringavatars.com/beam/25/{{ i.author }}"></a>
            <div class="media-body">
               <div class="mar-btm">
                  <a class="btn-link text-semibold media-heading box-inline" style="padding-left: 10px;">{{ i.author }}</a>
                  <p class="text-muted text-sm" style="padding-left: 10px;"><i class="fa fa-globe fa-lg"></i> - From Web</p>
               </div>
               <p>{{ i.text }}</p>
               <hr>
            </div>
         </div>
         {% endfor %}
      </div>
      <script>         
         function addComment() {
           var userInput = document.getElementById("user-input").value;
           if (userInput !== "") {
             var commentsContainer = document.getElementById("comments-container");
             var newComment = `
               <div class="media-block">
                 <a class="media-left"><img class="img-circle img-sm" alt="Profile Picture" src="https://source.boringavatars.com/beam/25/{{ user.usuario.username }}"></a>
                 <div class="media-body">
                   <div class="mar-btm">
                     <a class="btn-link text-semibold media-heading box-inline" style="padding-left: 10px;">{{ user.usuario.username }}</a>
                     <p class="text-muted text-sm" style="padding-left: 10px;"><i class="fa fa-globe fa-lg"></i> - From Web</p>
                   </div>
                   <p>${userInput}</p>
                   <hr>
                 </div>
               </div>
             `;
             commentsContainer.insertAdjacentHTML("afterbegin", newComment);
           }
         }
      </script>
      <style>
         .card-container {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         padding: 10rem;
         padding-top: 2rem;
         }
         .card {
         width: calc(33.33% - 10px); /* 3 cards per row with 10px spacing */
         margin-bottom: 20px;
         }
      </style>
   </body>
   <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
   <script>
      // Execute a função quando a página carregar
      document.addEventListener('DOMContentLoaded', function () {
         // Configurar o tema padrão como dark
         document.body.setAttribute('data-bs-theme', 'dark');
            
            // Esconder o ícone do sol
         document.querySelector('.bi-brightness-high-fill').style.display = 'none';
      });
   
      function themeSwitch() {
         // Obtenha o elemento de switch
         var switchElement = document.getElementById('flexSwitchCheckDefault');
         var moonIcon = document.querySelector('.bi-moon-stars-fill');
         var sunIcon = document.querySelector('.bi-brightness-high-fill');
         
         // Verifique se o switch está ligado ou desligado
         if (switchElement.checked) {
            // Se estiver ligado, definir o tema como light
            document.body.setAttribute('data-bs-theme', 'light');
            // Alterar o ícone para o sol (modo claro)
            moonIcon.style.display = 'none';
            sunIcon.style.display = 'block';
         } else {
            // Se estiver desligado, definir o tema como dark
            document.body.setAttribute('data-bs-theme', 'dark');
            // Alterar o ícone para a lua e as estrelas (modo escuro)
            moonIcon.style.display = 'block';
            sunIcon.style.display = 'none';
         }
      }

      document.addEventListener('DOMContentLoaded', function () {
         // Verificar se o tema claro está ativado no localStorage
         var isLightTheme = localStorage.getItem('theme') === 'light';
      
         // Configurar o tema com base na escolha do usuário
         document.body.setAttribute('data-bs-theme', isLightTheme ? 'light' : 'dark');
      
         // Configurar o estado inicial do botão switch
         var switchElement = document.getElementById('flexSwitchCheckDefault');
         switchElement.checked = isLightTheme;
      
         // Esconder ou mostrar os ícones com base na escolha do usuário
         var moonIcon = document.querySelector('.bi-moon-stars-fill');
         var sunIcon = document.querySelector('.bi-brightness-high-fill');
         moonIcon.style.display = isLightTheme ? 'none' : 'block';
         sunIcon.style.display = isLightTheme ? 'block' : 'none';
      });
      
      function themeSwitch() {
         var switchElement = document.getElementById('flexSwitchCheckDefault');
         var moonIcon = document.querySelector('.bi-moon-stars-fill');
         var sunIcon = document.querySelector('.bi-brightness-high-fill');
      
         if (switchElement.checked) {
            document.body.setAttribute('data-bs-theme', 'light');
            moonIcon.style.display = 'none';
            sunIcon.style.display = 'block';
         } else {
            document.body.setAttribute('data-bs-theme', 'dark');
            moonIcon.style.display = 'block';
            sunIcon.style.display = 'none';
         }
      
         // Armazenar a escolha do usuário no localStorage
         localStorage.setItem('theme', switchElement.checked ? 'light' : 'dark');
      }
   </script>
   <script>
      // Função para aumentar ou diminuir o tamanho da fonte
      function changeFontSize(sizeDifference) {
         // Obtém todos os elementos de texto na página
         var textElements = document.querySelectorAll('body *');
   
         // Itera sobre os elementos de texto e ajusta o tamanho da fonte
         textElements.forEach(function(element) {
            var currentFontSize = parseFloat(window.getComputedStyle(element).fontSize);
   
            // Calcula o novo tamanho da fonte
            var newFontSize = currentFontSize + sizeDifference;
   
            // Limita o tamanho mínimo da fonte em 15
            newFontSize = Math.max(newFontSize, 15);
   
            // Limita o tamanho máximo da fonte em 42
            newFontSize = Math.min(newFontSize, 40);
   
            // Define o novo tamanho da fonte no elemento
            element.style.fontSize = newFontSize + "px";
         });
      }
   </script>   
</html>