<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      tr:hover {
      background-color: inherit !important; 
      }
    </style>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://cdn.jsdelivr.net/npm/twemoji@11.3.0/2/svg/1f30e.svg"
      type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous" />
    <title>TripHelper</title>
  </head>
  <body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
      <div class="container-fluid">
        <img
          src="https://cdn.jsdelivr.net/npm/twemoji@11.3.0/2/svg/1f30e.svg"
          alt="Bootstrap"
          width="30"
          height="24" />
        <a class="navbar-brand fw-bold" href="/">TripHelper</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/"
                >Homepage</a
                >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/top"
                >Most searched places</a
                >
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/"
                >Random Destination</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
              More information
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/about">About us</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    target="_blank"
                    href="https://github.com/claudioavgo/triphelper"
                    >GitHub</a
                    >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 5rem;">
      <h1>{{ city }}, {{ country }} <img style="height: 50px;" src="https://flagcdn.com/{{iso}}.svg" alt=""></h1>
    </div>
    <container style="width: 100%; padding-left: 50px; padding-right: 50px;">
      <table class="table" style="box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); border-collapse: collapse; border-radius: 5px; overflow: hidden;">
        <tbody>
          <tr class="hover-row" style="border-bottom: 2px solid #e5e5e5;">
            <th scope="row" style="background-color: transparent; font-weight: bold; color: #ffffff;">Language</th>
            {% for key in info.0.languages %}
            <td style="flex: 1; text-align: center; padding: 15px 20px;">{{ key|default:" " }}</td>
            {% endfor %}
          </tr>
          <tr class="hover-row" style="border-bottom: 2px solid #e5e5e5;">
            <th scope="row" style="background-color: transparent; font-weight: bold; color: #ffffff;">Capital</th>
            {% for key in info.0.capital %}
            <td style="flex: 1; text-align: center; padding: 15px 20px;">{{ key|default:" " }}</td>
            {% endfor %}
          </tr>
          <tr class="hover-row" style="border-bottom: 2px solid #e5e5e5;">
            <th scope="row" style="background-color: transparent; font-weight: bold; color: #ffffff;">Currency</th>
            {% for key in info.0.currencies %}
            <td style="flex: 1; text-align: center; padding: 15px 20px;">{{ key|default:" " }}</td>
            {% endfor %}
          </tr>
          <tr class="hover-row" style="border-bottom: 2px solid #e5e5e5;">
            <th scope="row" style="background-color: transparent; font-weight: bold; color: #ffffff;">Plug</th>
            {% for i in plug %}
            <td style="flex: 1; text-align: center; padding: 15px 20px;">{{ i|default:" " }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </container>
    <div style="display: flex; justify-content: start; padding-left: 10rem; padding-right: 10rem;">
      <h1>Some attractions</h1>
    </div>
    <div class="card-container">
      {% for i in content.features %}
      <div class="card" style="height: 30rem;">
        <img src="{{ i.wikidata.preview.source }}" class="card-img-top" style="height: 12rem;" alt="{{ i.properties.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ i.properties.name }}</h5>
          <p class="card-text">{{ i.wikidata.wikipedia_extracts.text }}</p>
          {% if i.wikidata.wikipedia %}
          <a target="_blank" href="{{ i.wikidata.wikipedia }}" class="btn btn-primary">Ver na Wikipedia</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <style>
      .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10rem;
      padding-top: 2rem;
      }
      .card {
      width: calc(33.33% - 10px); /* 3 cards per row with 10px spacing */
      margin-bottom: 20px;
      }
    </style>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</html>