<!DOCTYPE html>
<html lang="en">
   <head>
      <style>
         .custom-margin-left {
         margin-left: 570px; /* Ou o valor desejado */
         }
      </style>
      {% load static %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
         rel="shortcut icon"
         href="https://cdn.jsdelivr.net/npm/twemoji@11.3.0/2/svg/1f30e.svg"
         type="image/x-icon" />
      <link rel="stylesheet" href="{% static 'style.css' %}" />
      <script defer src="{% static 'index.js' %}"></script>
      <script defer type="module" src="{% static 'map.js' %}"></script>
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
         crossorigin="anonymous" />
      <!-- Dependencies -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
      <!-- Bootstrap 4 Autocomplete -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap-4-autocomplete/dist/bootstrap-4-autocomplete.min.js" crossorigin="anonymous"></script>
      <!-- D3.js and TopoJSON CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script> 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
      <!-- Include datamaps.world.min.js -->
      <script src="https://datamaps.github.io/scripts/0.4.4/datamaps.world.min.js"></script>
      <title>TripHelper</title>
   </head>
   <body style="margin: 0px; padding: 0px;" data-bs-theme="dark">
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
         <div class="container-fluid">
            <img
               src="https://cdn.jsdelivr.net/npm/twemoji@11.3.0/2/svg/1f30e.svg"
               alt="Bootstrap"
               width="30"
               height="24" />
            <a class="navbar-brand fw-bold" href="#">TripHelper</a>
            <button
               class="navbar-toggler"
               type="button"
               data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent"
               aria-expanded="false"
               aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="display: flex;justify-content: center;align-items: center;" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="#"
                        >Homepage</a
                        >
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" aria-current="page" href="/top"
                        >Most searched places</a
                        >
                  </li>
                  <li class="nav-item">
							<a class="nav-link" aria-current="page" href="/intro/game"
								>Guess Game</a
							>
						</li>
                  <li class="nav-item">
                     <a class="nav-link" aria-current="page" href="/destination/{{ random_country.iso }}/{{ random_city }}">Random Destination</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a
                        class="nav-link dropdown-toggle"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                     More information
                     </a>
                     <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/about">About us</a></li>
                        <li>
                           <hr class="dropdown-divider"/>
                        </li>
                        <li>
                           <a
                              class="dropdown-item"
                              target="_blank"
                              href="https://github.com/claudioavgo/triphelper">GitHub</a>
                        </li>
                     </ul>
                  </li>
               </ul>
               <div class="form-check form-switch">
                  <input onclick="themeSwitch()" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16">
                     <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278"/>
                     <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
                     <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                  </svg>
               </div>
               <div style="display: flex; justify-content: center; align-items: center;">
                  {% if user is not none %}
                  <div class="btn-group" style="margin-right: 1rem; margin-left: 1rem;">
                     <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                     <img src="https://source.boringavatars.com/beam/25/{{ user.usuario.username }}" style="margin-right: .3rem;" alt="" srcset="">
                     </button>
                     <ul class="dropdown-menu dropdown-menu-end ">
                        <a href="/account">
                           <li><button class="dropdown-item" type="button">My Places</button></li>
                        </a>
                        <a href="/logout">
                           <li><button class="dropdown-item" type="button">Exit</button></li>
                        </a>
                     </ul>
                  </div>
                  {% else %}
                  <div class="btn-group" style="margin-right: 1rem; margin-left: 1rem;">
                     <a href="login">
                     <button type="button" class="btn btn-secondary">Sign in</button>
                     </a>
                  </div>
                  {% endif %}
               </div>
            </div>
         </div>
      </nav>
      <container class="d-flex justify-content-center" style="margin-top: 10rem">
         <div>
            <h1 style="color: #3D45FB;">“Life's a journey, not a destination.”</h1>
            <div>
               <h5
                  class="d-flex justify-content-left"
                  style="margin-left: 400px; color: #3D45FB">
                  ~ Aerosmith, Amazing
               </h5>
            </div>
         </div>
      </container>
      <container class="d-flex justify-content-center" style="margin-top: 30px">
         <select
            class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg teste"
            id="countrySelect"
            style="width: 400px; height: 70px">
            <option selected>Choose your destination</option>
            {% for i in countries_list %}
            <option value="{{i.iso}}">{{i.name}}</option>
            {% endfor %}
         </select>
      </container>
      <container id="containerSelectCity" style="margin-top: 20px; display: none; flex-direction: column;justify-content: center;align-items: center;">
         <select
            class="form-select form-select-lg mb-3"
            aria-label=".form-select-lg teste"
            id="countrySelectCity"
            style="width: 400px; height: 70px"></select>
         <button id="attBtn" type="button" class="btn btn-light btn-lg" style="display: none;">See attractions</button>
      </container>
      <container id="loader1" style="margin-top: 20px; display: none; flex-direction: column;justify-content: center;align-items: center;">
         <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
         </div>
      </container>
      <container>
         <div id="container" style="position: relative; width: 95%; height: 100vh; margin: 0 auto;"></div>
      </container>
      <div style="margin: 0; height: 15rem;">

         <div style="background-color: #2B3035; height: 100%; width: 100%; display: flex; justify-content: space-between; align-items: center;padding-left: 10rem;padding-right: 10rem">
            <div style="display: flex;">
               <div style="margin-right: 10rem;">
                  <h5 style="margin-bottom: 1rem;">About</h5>
                  <a href="https://github.com/claudioavgo/triphelper" style="text-decoration: none;color: rgba(255, 255, 255, 0.555);"><p>GitHub</p></a>
                  <a href="/about" style="text-decoration: none;color: rgba(255, 255, 255, 0.555);"><p>Check the project</p></a>
               </div>
            </div>
            <div>
               <img src="{% static 'images/TripHelperCompany.svg' %}" style="height: 2rem;margin-right: 2rem;" alt="" srcset="">
               <img src="{% static 'images/image.svg' %}" style="height: 8rem;" alt="" srcset="">
            </div>
         </div>
      </div>
   </body>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <script>
         // Execute a função quando a página carregar
         document.addEventListener('DOMContentLoaded', function () {
         // Configurar o tema padrão como dark
         document.body.setAttribute('data-bs-theme', 'dark');
          
          // Esconder o ícone do sol
         document.querySelector('.bi-brightness-high-fill').style.display = 'none';
      });
  
      function themeSwitch() {
         // Obtenha o elemento de switch
         var switchElement = document.getElementById('flexSwitchCheckDefault');
         var moonIcon = document.querySelector('.bi-moon-stars-fill');
         var sunIcon = document.querySelector('.bi-brightness-high-fill');
        
         // Verifique se o switch está ligado ou desligado
         if (switchElement.checked) {
            // Se estiver ligado, definir o tema como light
            document.body.setAttribute('data-bs-theme', 'light');
            // Alterar o ícone para o sol (modo claro)
            moonIcon.style.display = 'none';
            sunIcon.style.display = 'block';
         } else {
            // Se estiver desligado, definir o tema como dark
            document.body.setAttribute('data-bs-theme', 'dark');
            // Alterar o ícone para a lua e as estrelas (modo escuro)
            moonIcon.style.display = 'block';
            sunIcon.style.display = 'none';
         }
      }

      document.addEventListener('DOMContentLoaded', function () {
         // Verificar se o tema claro está ativado no localStorage
         var isLightTheme = localStorage.getItem('theme') === 'light';
     
         // Configurar o tema com base na escolha do usuário
         document.body.setAttribute('data-bs-theme', isLightTheme ? 'light' : 'dark');
     
         // Configurar o estado inicial do botão switch
         var switchElement = document.getElementById('flexSwitchCheckDefault');
         switchElement.checked = isLightTheme;
     
         // Esconder ou mostrar os ícones com base na escolha do usuário
         var moonIcon = document.querySelector('.bi-moon-stars-fill');
         var sunIcon = document.querySelector('.bi-brightness-high-fill');
         moonIcon.style.display = isLightTheme ? 'none' : 'block';
         sunIcon.style.display = isLightTheme ? 'block' : 'none';
      });
     
      function themeSwitch() {
         var switchElement = document.getElementById('flexSwitchCheckDefault');
         var moonIcon = document.querySelector('.bi-moon-stars-fill');
         var sunIcon = document.querySelector('.bi-brightness-high-fill');
     
         if (switchElement.checked) {
           document.body.setAttribute('data-bs-theme', 'light');
           moonIcon.style.display = 'none';
           sunIcon.style.display = 'block';
         } else {
           document.body.setAttribute('data-bs-theme', 'dark');
           moonIcon.style.display = 'block';
           sunIcon.style.display = 'none';
         }
     
         // Armazenar a escolha do usuário no localStorage
         localStorage.setItem('theme', switchElement.checked ? 'light' : 'dark');
      }
   </script>
</html>