<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>

<body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
            <img src="https://cdn.jsdelivr.net/npm/twemoji@11.3.0/2/svg/1f30e.svg" alt="Bootstrap" width="30"
                height="24" />
            <a class="navbar-brand fw-bold" href="/">TripHelper</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="display: flex;justify-content: center;align-items: center;"
                id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/top">Most searched places</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                            href="/destination/{{ random_country.iso }}/{{ random_city }}">Random Destination</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            More information
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/about">About us</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" target="_blank"
                                    href="https://github.com/claudioavgo/triphelper">GitHub</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div style="display: flex; justify-content: center; align-items: center;">
                    {% if logged %}
                    <span class="badge" style="background-color: #3D45FB; padding: 0.5rem; font-size: 1rem;">Credits:
                        10</span>
                    <div class="btn-group" style="margin-right: 1rem; margin-left: 1rem;">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            data-bs-display="static" aria-expanded="false">
                            <img src="https://source.boringavatars.com/beam/35/Coded" style="margin-right: .3rem;"
                                alt="" srcset="">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><button class="dropdown-item" type="button">Exit</button></li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="btn-group" style="margin-right: 1rem; margin-left: 1rem;">
                        <a href="register">
                            <button type="button" class="btn btn-secondary">Sign in</button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <form style="padding: 10rem 35rem 10rem 35rem" action="/register" method="post">
        {% csrf_token %}
        <div class="mb-3">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                You email or password are wrong!
              </div>
            {% endif %}
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>

</html>